@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-20px) translateX(10px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.floating-logos {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: slide 20s linear infinite;
}

.floating-logo {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  animation: float 5s ease-in-out infinite;
}

.floating-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.floating-logo:nth-child(1) {
  top: 5%;
  left: 5%;
  animation-delay: 0s;
}

.floating-logo:nth-child(2) {
  top: 15%;
  left: 60%;
  animation-delay: 1s;
}

.floating-logo:nth-child(3) {
  top: 25%;
  left: 85%;
  animation-delay: 2s;
}

.floating-logo:nth-child(4) {
  top: 55%;
  left: 10%;
  animation-delay: 3s;
}

.floating-logo:nth-child(5) {
  top: 65%;
  left: 75%;
  animation-delay: 4s;
}

.header-content {
  position: relative;
  z-index: 10; /* Asegura que el texto de bienvenida esté frente a los logos */
  text-align: center;
  color: white;
  padding: 2rem;
}

  
  :root {
  --primary-color: #1a73e8; /* Cambia esto por tu color primario */
}

@keyframes lights {
    0% {
      filter: brightness(40%) contrast(120%);
    }
    50% {
      filter: brightness(60%) contrast(80%);
    }
    100% {
      filter: brightness(40%) contrast(120%);
    }
  }
  
  .header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #1a73e8, #60a5fa, #bbdefb, #60a5fa, #1a73e8);
    animation: lights 10s ease-in-out infinite alternate;
  }

  .header-background-dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #000000, #373737, #5f5f5f, #373737, #000000);
    animation: lights 10s ease-in-out infinite alternate;
  }
  
  
  /* TestimonialCard.css */

  .dropdown-list {
    max-height: 200px; /* Ajusta esta altura según tus necesidades */
    overflow-y: auto;
  }
  

  .dropdown-list {
    max-height: 200px; /* Ajusta esta altura según tus necesidades */
    overflow-y: auto;
  }
  

.testimonial-card {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .testimonial-card.slide-in {
    opacity: 1;
    transform: translateX(0);
  }
  

/* NAV */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px; /* Reducir el ancho del tooltip */
  background-color: #FF8200;
  color: #dfdfdf;
  text-align: center;
  border-radius: 6px; /* Ajustar el padding */
  position: absolute;
  z-index: 1;
  top: 125%; /* Posiciona el tooltip debajo del elemento */
  left: 50%;
  margin-left: -40px; /* Usa margen negativo para centrar el tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px; /* Ajustar el tamaño de la fuente */
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%; /* En el borde superior del tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #FF8200 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
