.pagination ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.192); /* Color blanco con 50% de opacidad */
  border-radius: 5px; /* Añade bordes redondeados */
  max-width: fit-content; /* Establece el ancho máximo al 90% del contenedor padre */
  margin: auto; /* Centra la caja horizontalmente */
  margin-top: 60px;
}

.actualPage {
  margin-right: 200px;
  background-color: rgba(0, 0, 0, 0.5); 
  max-width: fit-content;
  font-size: 16px; /* Tamaño de fuente más grande */
  font-weight: normal; /* Texto en negrita */
  font-family: fantasy;
  text-decoration: none; /* Elimina el subrayado predeterminado */
  color: aliceblue;
  border-radius: 5px;
}

.pagination li {
  margin-right: 20px;
}

.pagination li:last-child {
  margin-right: 0;
}

.pagination a {
  font-size: 16px; /* Tamaño de fuente más grande */
  font-weight: normal; /* Texto en negrita */
  font-family: fantasy;
  text-decoration: none; /* Elimina el subrayado predeterminado */
  color: aliceblue; /* Color del texto */
  cursor: pointer; /* Asegura que el cursor cambie al pasar sobre los enlaces */
  position: relative; /* Permite que el pseudo-elemento esté posicionado correctamente */
}

.pagination a:hover {
  color: rgba(0, 200, 255, 0.724); /* Cambia el color del texto al pasar el mouse sobre él */
}

.pagination li.current-page a {
  color: rgba(146, 64, 7, 0.724); /* Color para resaltar el número de la página actual */
  font-weight: bold;
}

