.search-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input[type="search"] {
    padding: 10px;
    width: 200px;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #f6971a;
    border: none;
    cursor: pointer;
  }
  